<div class="chat-detail">
  
  <section-header title="{{pageTitle.join(', ')}}" type="chatDetail"></section-header>

  <div ng-if="messages" class="message-detail-container content-container" set-height>
    <ul class="messages">
      <li class="message-container" ng-repeat="msg in messages" 
          ng-class="{'self': msg.sender_id==userId, 'last right': msg.sender_id==userId && msg.last, 'last left': msg.last && msg.sender_id != userId }">
          <div class="message">
            <div class="sender" ng-if="msg.sender_id!==userId && participants.length > 2">{{ msg.senderFirst }}</div>
            <div class="text">{{ msg.text }}</div>
          </div>
      </li>
    </ul>
  </div>

  <div class="new-message-field" id="footer">
    <form class="new-message-inputs">
      <input type="text" ng-model="newMessage"/>
      <input type="submit" ng-click="insertMessage(userId)" value="send"/>
    </form>
  </div>
</div>
