ul { list-style-type: none; padding: 0; margin: 0; }
li { padding: 0; margin: 0; }
a { text-decoration: none; color: #333; }
body { font-size: 14px; }
h2 { padding: 0; margin: 0; }

.icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.arrow-left { 
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid blue; 
}

.back {
  border-right-color: #2281FB;
  display: inline-block;
  margin-right: 5px;
}

header { background: #f5f5f5; text-align: center; padding: 10px; border-bottom: 1px solid #ccc; position: relative; }
header .right { position: absolute; top: 0; right: 0; bottom: 0; width: 12%; height: 50%; overflow: auto; margin: auto; }
header .right.cancel { width: 20%; }
header .right.cancel { color: #2281FB; }
header .left { position: absolute; top: 15px; left: 10px; }
header .back { color: #2281FB; }
header .back div { display: inline-block; }
header .back .text { position: relative; top: -1px; }
header h2 { font-size: 1.2em; width: 50%; margin: 0px auto; text-overflow: ellipsis; overflow-x: hidden; white-space: nowrap; }
header .new-msg {  }
.chat-list-container { overflow-y: scroll; -webkit-overflow-scrolling: touch; }
.chat-list li { padding: 10px; border-bottom: 1px solid #ccc; }
.chat-list .participants { display: inline-block; margin: 0 3px 0 0; }
.chat-list .lastMsg img { max-width: 25%; }

.chat-detail { overflow: auto; }
.chat-detail .message-detail-container { background: #eee; }
.chat-detail .new-message-field { border-top: 1px solid #ccc; width: 100%; position: absolute; bottom: 0; }
.chat-detail .new-message-inputs { padding: 10px; background-color: #fff; }
.chat-detail .new-message-inputs input[type="text"] { border: 1px solid #eee; padding: 5px; width: 75%; }
.chat-detail .new-message-inputs input[type="submit"] { border: 1px solid; width: 15%; }
.chat-detail .new-message-inputs #msgEl { display: inline-block; width: 60%; padding: 5px; border: 1px solid #ccc; margin-left: 10%; }
.chat-detail .new-message-inputs .send-link { color: #2281FB; position: absolute; bottom: 15px; right: 10px; }
.chat-detail .new-message-inputs .upload-link { position: absolute;  bottom: 0; bottom: 18px; }
.chat-detail .new-message-inputs .camera-link { position: absolute;  bottom: 0; bottom: 18px; margin-left: 15px; }

.chat-detail .messages { padding: 10px 0; overflow: auto; }
.chat-detail .messages .message-container { display: block; max-width: 80%; overflow: auto; float: left; clear: both; position: relative; }
.chat-detail .messages .message { padding: 3px 5px; margin: 0px 0 5px 20px; -webkit-box-shadow: 0px 1px 1px 1px #ccc; border-radius: 3px; background: #fff; }
.chat-detail .messages .message img { max-width: 50%; }
.chat-detail .messages .sender { font-weight: bold; }
.chat-detail .messages .last { margin-bottom: 10px; }
.chat-detail .messages .last:after { content: ""; display: block; width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 10px solid #fff; position: absolute; bottom: 0px; left: 15px; -webkit-transform: rotate(45deg);}
.chat-detail .messages .self .message { background-color: #bdfcc9; margin: 0 20px 5px 0; -webkit-box-shadow: 0px 1px 1px 1px #ccc;}
.chat-detail .messages .right,
.chat-detail .messages .self { float: right; position: relative; }
.chat-detail .messages .self.last:after { content: ""; display: block; width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 10px solid #bdfcc9; position: absolute; bottom: 0px; left: initial; right: 15px; -webkit-transform: rotate(135deg); }

.new-msg-container { }
.new-msg-container .new-msg-to-field { padding: 10px; border-bottom: 1px solid #ccc; }
.new-msg-container .new-msg-recipients { width: auto; display: inline-block; }
.new-msg-container .selected-contact { display: inline-block; color: #2281FB; }
.text-field { border: 0; }
.text-field:focus { outline: 0; }
.faded { opacity: 0.8; }

.new-msg-container .contacts li { padding: 10px; border-bottom: 1px solid #ddd; }

.animate-view { 
  -webkit-transition: .2s linear all; /* Safari/Chrome */
  -moz-transition: .2s linear all; /* Firefox */
  -o-transition: .2s linear all; /* Opera */
  transition: .2s linear all; /* IE10+ and Future Browsers */
}
.animate-view.animate-list.ng-enter { opacity: 0; -webkit-transform: translateX(-100%);}
.animate-view.animate-list.ng-leave { opacity: 1; }

.animate-view.animate-details.ng-enter { opacity: 0; -webkit-transform: translateX(100%); }
.animate-view.animate-details.ng-leave { opacity: 1; }

.animate-view.animate-new-msg.ng-enter { opacity: 0; -webkit-transform: translateX(100%); }
.animate-view.animate-new-msg.ng-leave { opacity: 1; }
