<section-header title="New Message" type="new"></section-header>
<div class="new-msg-container">
  <div class="new-msg-to-field">
    To: 
    <div class="new-msg-recipients">
      <div ng-repeat="recipient in recipients" class="selected-contact">{{ recipient.firstName }} {{ recipient.lastName }},&nbsp;</div>
    </div>
    <input id="contactSearchField" class="text-field" type="text" ng-model="searchText" ng-keydown="checkKey($event)"/>
  </div>
  <div class="new-msg-content-area" set-height>
    <ul class="contacts" ng-if="contacts && contactSearch">
      <li ng-repeat="contact in contacts | orderBy:'firstName' | filter:searchText" ng-click="addToRecipients(contact)">
        <div class="contact-container">{{ contact.firstName }} {{ contact.lastName }}</div>
      </li>
    </ul>
    <div class="existing-chat" ng-if="existingChat"></div>
  </div>
</div>